<li>{{burger_name}}

    {{#unless devoured}}
        <button class="devour-burger" data-id="{{id}}">
            DEVOUR IT!
        </button>
    {{/unless}}
</li>

<!--<li>{{burger_name}}-->

    <!--{{#if devoured}}-->
        <!--<button class="change-mind" data-id="{{id}}">-->
            <!--Nevermind, I don't want it.-->
        <!--</button>-->
    <!--{{/if}}-->

<!--</li>-->